<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="container">
		<div class="top-section">
			<div class="top-content">
				<h1>Papéis de Pared..</h1>
				<h2>Arara-canindé voandc Para você</h2>
				<p>Estrelando Há 3 h Jade Picon e MC Daniel curtem praia no Rio de Janeiro</p>
			</div>
			<div class="top-image">
				<img src="top-image.jpg" alt="Top Image">
			</div>
		</div>
		<div class="bottom-section">
			<button id="button1" onclick="button1Function()">Button 1</button>
			<button id="button2" onclick="button2Function()">Button 2</button>
			<button id="button3" onclick="button3Function()">Button 3</button>
			<button id="button4" onclick="button4Function()">Button 4</button>
			<button id="button5" onclick="button5Function()">Button 5</button>
		</div>
	</div>
	<script src="scripts.js"></script>
</body>
</html>
