{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>   
</head>
<body>
	<div class="container">
        <header>
            Header
        </header>
        <main>
            {% for message in messages %}
                <div class="message-row {{ message.style }}">
                    <div class="message-box {{ message.style }}">
                        <strong>{{message.sender}}</strong><br>                    
                        <span>{{message.content}}</span><br>                    
                        <small>{{message.time}}</small><br>                    
                    </div>
                </div>
            {% endfor %}
        </main>
        <footer>
            <div class="bottom-section">
                <button id="button1" onclick="button1Function()">Button 1</button>
                <button id="button2" onclick="button2Function()">Button 2</button>
                <button id="button3" onclick="button3Function()">Button 3</button>
                <button id="button4" onclick="button4Function()">Button 4</button>
                <button id="button5" onclick="button5Function()">Button 5</button>
            </div>
        </footer>
	</div>
</body>
</html>
